<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494388929827-i00fhal6dqcstvojjfe765s8rg66a9r1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494388929827-i00fhal6dqcstvojjfe765s8rg66a9r1</string>
	<key>API_KEY</key>
	<string>AIzaSyA07ipu1ACb-3G142QFYhrw6QgcZjMGPS0</string>
	<key>GCM_SENDER_ID</key>
	<string>494388929827</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-e0cc8</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-e0cc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494388929827:ios:03dab171b137b1155bd896</string>
</dict>
</plist>